# Arquivos temporários e cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Ambiente virtual Python
.venv/
venv/
env/

# Dados locais e relatórios (exceto o banco oficial)
# ⚠️ NÃO ignore a pasta data nem o arquivo expirybot.db
#data/
*.sqlite
*.xlsx
*.csv
*.zip
*.pdf
*.xml

# Mantém o banco principal versionado
!data/
!data/expirybot.db

# Arquivos de configuração locais
config_loja_*.json
# ❗ Mantém o config.json porque é necessário no deploy
!config.json

# Arquivos de build e sistema
.DS_Store
Thumbs.db

# Pastas específicas do Streamlit
.streamlit/secrets.toml

# Outros
.nfe_002310.xml
.projeto.zip
